
.btn-border {
  border: 1px solid #ffdc26;
}

.custom-style-hero-img{
  background-image: url('./assets/cat-big.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

}

.custom-style-product {
  background-image: url('./assets/cute-pet-small.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  height: 350px;
}

.custom-style-product {
  @media screen and (min-width: 768px) {
    background-size: 70%;
  }
}

.custom-style-ELP-left {
  background-image: linear-gradient(to bottom right, rgba(248, 204, 251, 1), rgba(172, 210, 253, 1));
}

.custom-style-ELP-right {
  background-image: linear-gradient(to bottom right, rgba(255, 249, 244, 1), rgba(249, 223, 138, 1));
}
