:root{
    font-size: 16px;

    /* font color */
    --black: #000000;
    --chinese-black: #111111;
}



/* Fonts Style */
/* h1,h2,h3,h4{
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 3rem !important;
    color: var(--chinese-black) !important;
    line-height: 1em !important;
}

h2{
    font-size: 2rem !important;   
    color: var(--chinese-black); 
}

h3{
    font-size: 1.7rem !important;  
    color: var(--black); 
}

h4{
    font-size: 1rem !important;    
    color: var(--black);  
}

h5{
    font-family: "Sora", serif;
    font-size: 1rem !important;
    font-weight: 500;
    font-style: normal;
    color: var(--black); 
}

/* p,button,a{
    font-family: "Sora", serif;
    font-size: 1rem !important;
    font-weight: 400 !important;
    font-style: normal;
    /* color: var(--chinese-black) !important;  */
} */ */

.btn-border {
  border: 1px solid #ffdc26;
}

.custom-style-hero-img{
  background-image: url('./assets/cat-big.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

}

.custom-style-product {
  background-image: url('./assets/cute-pet-small.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  height: 350px;
}

.custom-style-product {
  @media screen and (min-width: 768px) {
    background-size: 70%;
  }
}

.custom-style-ELP-left {
  background-image: linear-gradient(to bottom right, rgba(248, 204, 251, 1), rgba(172, 210, 253, 1));
}

.custom-style-ELP-right {
  background-image: linear-gradient(to bottom right, rgba(255, 249, 244, 1), rgba(249, 223, 138, 1));
}
